
<footer class="footer text-white" style="background-color: #343a40;">
    <div class="container-fluid py-4">
        <nav class="pull-left mb-3">
            <ul class="nav">
                <li class="nav-item">
                    <a href="https://www.copernicus.eu/" target="_blank" class="logo">
                        <img src="/static/assets/img/copernicus_logo.png" width="80" height="40" alt="Copernicus Logo" class="navbar-brand">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" target="_blank" href="/index.html">
                        <img src="/static/assets/img/sentiboard.png" width="auto" height="33" alt="navbar brand" class="navbar-brand">
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright ml-auto mb-4">
            &copy; 
            <a href="https://www.esa.int" target="_blank">
                <img src="/static/assets/img/esa_logo.png" style="width: 80px; height: 30px">
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://ec.europa.eu/info/index_en" target="_blank" class="logo">
                <img src="/static/assets/img/ec_logo_white.png" width="150" height="50" alt="EC Logo" class="navbar-brand" style="position: relative; top: -10px">
            </a>
        </div>        
    </div>
	<!-- Bottom Footer Section -->
	<div class="row text-center text-md-left pt-4">
		<!-- Quick Links -->
		<div class="col-md-4 mb-4">
			<h5>Quick Links</h5>
			<hr class="border-light w-75 ml-md-0 mx-auto">
			<ul class="list-unstyled">
				<li><a href="/about.html" class="text-white">About</a></li>
				<li><a href="/processors-viewer.html" class="text-white">Processors</a></li>
				<li><a href="/data-takes.html" class="text-white">Data Availability</a></li>
			</ul>
		</div>

		<!-- Contact Info -->
		<div class="col-md-4 mb-4">
			<h5>Get In Touch</h5>
			<hr class="border-light w-75 ml-md-0 mx-auto">
			<p><img src="/static/assets/img/address.png" width="16"> ADDRESS</p>
			<p><img src="/static/assets/img/email.png" width="16">
				<a href="mailto:sentiboard@coordination-service.eu" class="text-white">mail</a>
			</p>
			<p><img src="/static/assets/img/mobile.png" width="16">
				<a href="tel:+12345678910" class="text-white">mobile</a>
			</p>
		</div>

		<!-- Social Media -->
		<div class="col-md-4 mb-4">
			<h5>Follow Us</h5>
			<hr class="border-light w-75 ml-md-0 mx-auto">
			<div class="d-flex justify-content-md-start justify-content-center gap-3">
				<a href="https://twitter.com" target="_blank" class="text-white mr-3" aria-label="Twitter">
					<i class="fab fa-twitter fa-2x"></i>
				</a>
				<a href="https://facebook.com" target="_blank" class="text-white mr-3" aria-label="Facebook">
					<i class="fab fa-facebook-f fa-2x"></i>
				</a>
				<a href="https://linkedin.com" target="_blank" class="text-white mr-3" aria-label="LinkedIn">
					<i class="fab fa-linkedin-in fa-2x"></i>
				</a>
				<a href="https://youtube.com" target="_blank" class="text-white mr-3" aria-label="YouTube">
					<i class="fab fa-youtube fa-2x"></i>
				</a>
				<a href="https://instagram.com" target="_blank" class="text-white mr-3" aria-label="Instagram">
					<i class="fab fa-instagram fa-2x"></i>
				</a>
			</div>
		</div>
	</div>
</footer>

            