
		<div class="main-header">

			<!-- Logo Header -->
			<!-- This section includes also the navigation menu button -->
			<!--AD previous version <div class="logo-header" data-background-color="dark">-->
			<div class="logo-header">
				
				<a href="/index.html" class="logo sentiboard-logo" style="padding-left:120px; margin-right:15px; display:flex; align-items:center;">
					<img src="/static/assets/img/sentiboard.png" width="200" height="35" alt="navbar brand" class="navbar-brand">
				</a>
				
				<button class="navbar-toggler sidenav-toggler ml-auto d-lg-none" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="icon-menu"></i>
					</span>
				</button>
				<button class="topbar-toggler more d-lg-none "><i class="icon-options-vertical"></i></button>
				<div class="nav-toggle d-lg-none ">
					<button class="btn btn-toggle toggle-sidebar">
						<i class="icon-menu"></i>
					</button>
				</div>
			</div>
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<!--AD previous version<nav class="navbar navbar-header navbar-expand-lg" data-background-color="dark">-->
			<nav class="navbar navbar-header navbar-expand-lg" style="background-color:#343a40 !important" >

				<div class="container d-flex justify-content-center {% if current_user.role == 'admin' %} ml-5 {% endif %}">

					<ul class="navbar-nav topbar-nav justify-content-center text-center w-100 align-items-center">

						<!-- Navigation menu -->
						<li class="nav-item dropdown hidden-caret d-none d-lg-block {% if 'about' in segment %} active {% endif %}">
							<a class="nav-link dropdown-toggle" href="/about.html" id="about" role="button" aria-haspopup="true" aria-expanded="false" style="margin-top: 7px">
								<h5>ABOUT</h5>
							</a>
						</li>
						<li class="nav-item dropdown hidden-caret d-none d-lg-block {% if 'acquisitions-status' in segment %} active {% endif %}">
							<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
								href="/acquisitions-status.html" id="acquisitions-status" style="margin-top: 7px">
								<h5>ACQUISITIONS STATUS</h5>
							</a>
						</li>
						<li class="nav-item dropdown hidden-caret d-none d-lg-block {% if 'events' in segment %} active {% endif %}">
							<a class="nav-link dropdown-toggle" href="/events.html" id="events" role="button" aria-haspopup="true" aria-expanded="false" style="margin-top: 7px">
								<h5>EVENTS</h5>
							</a>
						</li>
						<li class="nav-item dropdown hidden-caret d-none d-lg-block {% if 'data-availability' in segment %} active {% endif %}">
							<a class="nav-link dropdown-toggle" href="/data-availability.html" id="data-availability" role="button" aria-haspopup="true" aria-expanded="false" style="margin-top: 7px">
								<h5>DATA AVAILABILITY</h5>
							</a>
						</li>
						<li class="nav-item dropdown hidden-caret d-none d-lg-block {% if 'processors' in segment %} active {% endif %}">
							<a class="nav-link dropdown-toggle" href="/processors-viewer.html" id="processors" role="button" aria-haspopup="true" aria-expanded="false" style="margin-top: 7px">
								<h5>PROCESSORS</h5>
							</a>
						</li>
							{% if current_user.is_authenticated %}
								<li class="nav-item dropdown hidden-caret d-none d-lg-block nav-align-fix {% if 'space' in segment or 'service' in segment or 'access' in segment or 'archive' in segment or 'product' in segment %} active {% endif %}">
									<a aria-expanded="false" aria-haspopup="true"  class="nav-link dropdown-toggle"
									   data-toggle="dropdown" href="#">
										<h5>QUARTERLY REPORTS</h5>
									</a>
									<ul class="dropdown-menu dropdown-user animated fadeIn" style="text-align: left">
										<div class="dropdown-user-scroll scrollbar-outer">
											<li>
												<a aria-expanded="false" aria-haspopup="true"  class="nav-link dropdown-toggle"
													href="/space-segment.html" >
													<h6>SPACE SEGMENT</h6>
												</a>
											</li>
											<li>
												<a aria-expanded="false" aria-haspopup="true"  class="nav-link dropdown-toggle"
													href="/acquisition-service.html">
													<h6>ACQUISITION SERVICE</h6>
												</a>
											</li>
											<li>
												<a aria-expanded="false" aria-haspopup="true"  class="nav-link dropdown-toggle"
													href="/data-access.html">
													<h6>DATA ACCESS SERVICE</h6>
												</a>
											</li>
											<li>
												<a aria-expanded="false" aria-haspopup="true"  class="nav-link dropdown-toggle"
													href="/data-archive.html">
													<h6>DATA ARCHIVE SERVICE</h6>
												</a>
											</li>
											<li>
												<a aria-expanded="false" aria-haspopup="true"  class="nav-link dropdown-toggle"
													href="/product-timeliness.html">
													<h6>PRODUCT TIMELINESS</h6>
												</a>
											</li>
										</div>
									</ul>
								</li>
								{% if current_user.role == 'admin' %}
									<li class="nav-item dropdown hidden-caret d-none d-lg-block nav-align-fix {% if 'roles' in segment or 'users' in segment or 'news' in segment or 'anomalies' in segment%} active {% endif %}">
										<a aria-expanded="false" aria-haspopup="true"  class="nav-link dropdown-toggle"
										   data-toggle="dropdown" href="#">
											<h5>ADMINISTRATION</h5>
										</a>
										<ul class="dropdown-menu dropdown-user animated fadeIn" style="text-align: left">
											<div class="dropdown-user-scroll scrollbar-outer">
												<li>
													<a aria-expanded="false" aria-haspopup="true"  class="nav-link dropdown-toggle"
														href="/roles.html">
														<h6>ROLES</h6>
													</a>
												</li>
												<li>
													<a aria-expanded="false" aria-haspopup="true"  class="nav-link dropdown-toggle"
														href="/users.html">
														<h6>USERS</h6>
													</a>
												</li>
												<li>
													<a aria-expanded="false" aria-haspopup="true"  class="nav-link dropdown-toggle"
														href="/news.html">
														<h6>NEWS</h6>
													</a>
												</li>
												<li>
													<a aria-expanded="false" aria-haspopup="true"  class="nav-link dropdown-toggle"
														href="/anomalies.html">
														<h6>ANOMALIES</h6>
													</a>
												</li>
											</div>
										</ul>
									</li>
								{% endif %}
							{% else %}
							<li class="nav-item dropdown hidden-caret d-none d-lg-block">
								<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" hidden
								   href="{{ url_for('auth_blueprint.login') }}" id="login" role="button"
								   style="margin-top: 7px">
									<h5>LOGIN</h5>
								</a>
							</li>
							{% endif %}
						

                        <!-- Time range filter -->
                        <li class="nav-item dropdown hidden-caret d-none d-lg-block">
							<div class="form-group form-floating-label" id="time-period-select-container">
								<select name="time-period-select" id="time-period-select" class="form-control input-solid" onchange="this.form.submit()">
									<option value="day"
										{% if segment == "data-availability" and selected_period == "day" %}selected{% endif %}>Last 24 Hours</option>
									<option value="week"
										{% if segment == "data-availability" and selected_period == "week" %}selected{% endif %}>Last 7 Days</option>
									<option value="month"
										{% if segment == "data-availability" and selected_period == "month" %}selected{% endif %}>Last 30 Days</option>
									<option value="prev-quarter"
										{% if segment == "data-availability" and selected_period == "prev-quarter" %}selected{% endif %}>Last 3 Months</option>
								</select>

							</div>
						</li>

                        <!-- User account menu -->
						{% if current_user.is_authenticated %}
                        <li class="nav-item dropdown hidden-caret">
							<a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
								<i alt="..." class="fa fa-user" style="color: #fff; font-size: 1.3em; vertical-align: middle"></i>
							</a>
							<ul class="dropdown-menu dropdown-user animated fadeIn">
								<div class="dropdown-user-scroll scrollbar-outer">
									<li>
										<div class="user-box">
											<div class="u-text">
												<h4>
													{{ current_user.username }}
												</h4>
												<p class="text-white">
													{{ current_user.email }}
												</p>
												<!-- <a href="#" class="btn btn-xs credential-button btn-sm">VIEW PROFILE</a> -->
											</div>
										</div>
									</li>
									<li>
										<!-- <a class="dropdown-item drop-item" href="#">ACCOUNT SETTING</a> -->
                                        <a class="dropdown-item drop-item"
                                           href="{{ url_for('auth_blueprint.logout') }}">LOGOUT</a>
									</li>
								</div>
							</ul>
						</li>
						{% endif %}

                    </ul>
				</div>
				<div class="d-flex align-items-center logo-container" style="margin-right: 60px;">
					{% if 'login' not in segment %}
						<a href="https://www.esa.int/" class="logo esa-logo mx-2" target="_blank">
						<img src="/static/assets/img/esa_logo.png" id="esa-logo-header" width="40" alt="ESA Logo" class="navbar-brand">
						</a>
					{% endif %}
					<a href="https://ec.europa.eu/info/index_en" target="_blank" class="logo d-none d-lg-block mx-2">
					  <img src="/static/assets/img/ec_logo_white.png" id="ec-logo-header" width="80" height="30" alt="EC Logo" class="ec-logo navbar-brand mt-1">
					</a>
					<a href="https://www.copernicus.eu/" target="_blank" class="logo d-none d-lg-block mx-2">
					  <img src="/static/assets/img/copernicus_logo.png" id="copernicus-logo-header" width="60" height="auto" alt="Copernicus Logo" class="navbar-brand">
					</a>
				  </div>
			</nav>
			<!-- End Navbar -->
        </div>
        