{% extends "layouts/base-responsive.html" %}

{% block title %} Cookie Notice {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/assets/css/dashboard.css">
    <link rel="stylesheet" href="/static/assets/css/terms-cookies.css">
{% endblock stylesheets %}

{% block content %}

    <!-- Viewport definition -->
    <meta charset="utf-8"/>
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Define page content -->
    <div class="content" style="min-height: calc(100% - 130px);">
        <div class="page-inner">

            <!-- Breadcrumb -->
            <div class="page-header">
                <h4 class="page-title">Cookie Notice</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="/index.html">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Cookie Notice</a>
                    </li>
                </ul>
            </div>

            <!-- Main container -->
            <div class="row back-container">
				<!-- Main timeline control -->
                <div class="col-12">
					<div class="card">
						<div class="card-body">
                            <div class="section-container">
                                <!-- Row hosting the general controls -->
                                <div class="wide-container card-text" id="about_text">
                                    <h2>
                                        Cookie Notice
                                    </h2>
                                    <p>
                                        The European Space Agency (herein the "Agency" or "ESA") is an intergovernmental organisation established by its Convention opened for 
                                        signature in Paris on 30 May 1975 having its headquarters located at 24 rue du Général Bertrand, CS 30798, 75345 Paris Cedex 07, France.
                                    </p>
                                    <p>
                                        Protection of Personal Data is of great importance for ESA, therefore this Cookie Notice aims to ensure lawfulness and transparency by 
                                        explaining the cookies and similar technologies that we use on the Sentiboard website, what they do, what your choices regarding their 
                                        use are and how you can contact us.
                                    </p>
                                    <h3>
                                        <span style="line-height:107%">
                                            <br>
                                            <b>Cookie Notice for Sentiboard</b>
                                        </span>
                                    </h3>
                                    <p>
                                        Sentiboard presents news and information on Copernicus activities in the field of Earth Observation. The website enables visitors to 
                                        learn all about the Earth Observation data, and the satellite missions and instruments that acquire this data.
                                    </p>
                                    <h3>
                                        <span style="line-height:107%">
                                            <br>
                                            <b>What is a cookie?</b>
                                        </span>
                                    </h3>
                                    <p>
                                        Cookies are small bits of data that a website may send to the browser on your device, for instance mobile device or computer, upon your 
                                        visit to the website. Cookies may allow a website to recognise an individual's device and store some information about the user.
                                    </p>
                                    <h3>
                                        <span style="line-height:107%">
                                            <br>
                                            <b>What are the different types of cookies?</b>
                                        </span>
                                    </h3>
                                    <p>
                                        A cookie can be classified by its lifespan and the domain to which it belongs. By lifespan, a cookie is either a:
                                    </p>
                                    <ul class="pl-3">
                                        <li>
                                            session cookie which is erased when the user closes the browser or
                                        </li>
                                        <li>
                                            persistent cookie which remains on the user's computer/device for a pre-defined period of time
                                        </li>
                                    </ul>
                                    <p>
                                        As for the domain to which it belongs, there are either:
                                    </p>
                                    <ul class="pl-3">
                                        <li>
                                            first-party cookies which are set by the web server of the visited page and share the same domain
                                        </li>
                                        <li>
                                            third-party cookies stored by a different domain to the visited page's domain. This can happen when 
                                            the webpage references a file, such as JavaScript, located outside its domain.
                                        </li>
                                    </ul>
                                    <h3>
                                        <span style="line-height:107%">
                                            <br>
                                            <b>
                                                Which cookies do we use?
                                            </b>
                                        </span>
                                    </h3>
                                    <p>
                                        <strong>Strictly Necessary or Essential Cookies:</strong> these cookies are strictly necessary for the website to 
                                        provide the services that you requested and/or for the sole purpose of the transmission of the services and/or the 
                                        website. Without these cookies you would not be able to access the services or the website and therefore this category 
                                        cannot be disabled.
                                    </p>
                                    <p>
                                        <strong>Analytics Cookies:</strong> ESA uses cookies generated by an open source web analytics platform called Matomo 
                                            to measure the effectiveness and efficiency of Sentiboard. The cookies help ESA to know which pages are 
                                            visited most often and to ensure that the Sentiboard website responds effectively to users' needs.
                                    </p>
                                    <p>
                                        If you do not wish to receive a cookie, or if you wish your browser to notify you when you receive a cookie, you may 
                                        use the option on your web browser to disable cookies or you can opt out using the 'Opt-out' option below. However, 
                                        please note that if you disable all cookies you may not be able to take advantage of all the features available on 
                                        this website.
                                    </p>
                                    <p>
                                        Anonymised information generated by these cookies will be collected and processed on behalf of ESA by SERCO Italy S.p.A., 
                                        and subsequently transmitted to ESA in the form of statistics reports.
                                    </p>
                                    <p>
                                        ESA, and SERCO Italy do not use information generated by these cookies either for promotion or marketing purposes, 
                                        and they will not share the information with any third party.
                                    </p>
                                    <p>
                                        The cookies placed on your device by the Sentiboard website are generated by an open source web analytics platform called 
                                        Matomo. The cookies are used to measure the effectiveness and efficiency of Sentiboard. They are first party persistent 
                                        cookies which help ESA to know which pages are visited most often and to ensure that the Sentiboard website responds 
                                        effectively to users' needs.  The cookies also enable ESA to monitor repeat visits.  Using a random unique visitor ID, the 
                                        software is able to distinguish between the first visit and subsequent visits made by the user, to improve the accuracy of the statistics.
                                    </p>
                                    <h3>
                                        <span style="line-height:107%">
                                            <br>
                                            <b>
                                                About the analytics tool used by ESA
                                            </b>
                                        </span>
                                    </h3>
                                    <p>
                                        Matomo is an open source web analytics platform which complies with the EU's General Data Protection Regulation (GDPR) of 27 April 
                                        2016. This means that Matomo ensures end-user data protection, thanks to features such as source data anonymisation and opt-out mechanisms 
                                        for users.
                                    </p>
                                    <p>
                                        Cookies generated by Matomo enable ESA to track information about visitors in an anonymised form. Examples of such information are:
                                    </p>
                                    <ul class="pl-3">
                                        <li>
                                            the user's anonymised internet protocol (IP) address. Matomo uses an IP anonymisation mechanism which automatically masks a portion 
                                            of each user's IP, effectively making it impossible to identify a particular visitor from the remaining information.
                                        </li>
                                        <li>
                                            location: country, region (geolocation)
                                        </li>
                                        <li>
                                            date and time of the visit to the site
                                        </li>
                                        <li>
                                            title of the page being viewed
                                        </li>
                                    </ul>
                                    <p>
                                        The cookies are first party persistent cookies which also enable ESA to monitor repeat visits. Using a random unique visitor ID, the 
                                        software is able to distinguish between the first visit and subsequent visits made by the user, to improve the accuracy of the reports.
                                    </p>
                                    <h2 style="margin-top:13px">
                                        <span style="line-height:115%">
                                            <span style="color:#006B7C">
                                                <br>
                                                How to control cookies
                                            </span>
                                        </span>
                                    </h2>
                                    <p>
                                        You can delete all cookies that are already on your computer and you can set most browsers to prevent them from being placed. If you do this,
                                        however, you may have to manually adjust some preferences every time you visit a site and some services and functionalities may not work.
                                    </p>
                                    <p>
                                        Your current status is displayed below.
                                    </p>
                                    <p class="matomo-status">Opted in</p>
                                    <p>
                                        You can easily change this decision below:
                                    </p>
                                    <p style="margin-bottom:11px">
                                        <span style="line-height:107%">&nbsp; 
                                            <a href="#" id="cookie-accept" style="color:#0563c1; text-decoration:underline" class="hide">I accept cookies</a> 
                                            <a href="#" id="cookie-refuse" style="color:#0563c1; text-decoration:underline">I refuse cookies</a> 
                                        </span>
                                    </p>
                                    <p>
                                        If your status if Opted In but you do not wish to receive cookies from the Sentiboard website, or if you wish your browser to notify you
                                        when you receive a cookie, you may use the option on your web browser to disable cookies or you can opt out using the 'Reject all cookies' option 
                                        above. However, please note that if you disable all cookies you may not be able to take advantage of all of the features available on this website. 
                                        Moreover, if you opt out, it will not be possible for ESA to take your use of the website into account when it improves the user experience of the 
                                        Sentiboard website.
                                    </p>
                                    <p>
                                        If you change your mind about opting out, you can choose to opt back in and be tracked again by Matomo (opt-in).
                                    </p>
                                    <h3>
                                        <span style="line-height:107%">
                                            <br>
                                            <b>
                                                Deleting old visitors logs
                                            </b>
                                        </span>
                                    </h3>
                                    <p>
                                        Matomo automatically deletes visitors' logs after 12 months. The aggregated data reports are stored for an indefinite period by ESA for analysis 
                                        purposes.
                                    </p>
                                    <h3>
                                        <span style="line-height:107%">
                                            <br>
                                            <b>
                                                Social Media Sharing
                                            </b>
                                        </span>
                                    </h3>
                                    <p>
                                        Users logged in to Facebook/Twitter may experience some additional tracking when interacting with the social sharing buttons on our pages as 
                                        clarified within the Terms and Conditions of their agreement with Facebook/Twitter, though no such information is collected/relayed/made available 
                                        to ESA at any point.
                                    </p>
                                    <h3>
                                        <span style="line-height:107%">
                                            <br>
                                            <b>
                                                Contact
                                            </b>
                                        </span>
                                    </h3>
                                    <p>
                                        In case of any question, you can contact ESA DPO, as first point of contact, by sending an email to: <a style="color:#66B2FF" href="mailto:dpo@esa.int">dpo@esa.int</a>.
                                    </p>
                                    <ul class="pl-3">
                                        <li>
                                            Copy to: <a style="color:#66B2FF" href="mailto:sentiboard@coordination-service.eu">sentiboard@coordination-service.eu</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script>

        // Hide the time period selector combobox
        $('#time-period-select-container').hide();
        $('#esa-logo-header').hide();
        
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const acceptLink = document.getElementById('cookie-accept');
            const refuseLink = document.getElementById('cookie-refuse');
            const statusDisplay = document.querySelector('.matomo-status');
    
            function updateStatus(status) {
                statusDisplay.textContent = status;
            }
    
            if (acceptLink && refuseLink) {
                acceptLink.addEventListener('click', function (e) {
                    e.preventDefault();
                    _paq.push(['rememberConsentGiven']);
                    localStorage.setItem("cookie-consent", "accepted"); 
                    acceptLink.classList.add('hide');
                    refuseLink.classList.remove('hide');
                    updateStatus("Opted in");
                });
    
                refuseLink.addEventListener('click', function (e) {
                    e.preventDefault();
                    _paq.push(['forgetConsentGiven']);
                    localStorage.setItem("cookie-consent", "refused"); 
                    refuseLink.classList.add('hide');
                    acceptLink.classList.remove('hide');
                    updateStatus("Opted out");
                });

                const consent = localStorage.getItem("cookie-consent");
                if (consent === "accepted") {
                    acceptLink.classList.add("hide");
                    refuseLink.classList.remove("hide");
                    updateStatus("Opted in");
                } else if (consent === "refused") {
                    refuseLink.classList.add("hide");
                    acceptLink.classList.remove("hide");
                    updateStatus("Opted out");
                }
            }
        });
    </script>
{% endblock javascripts %}
