{% extends "layouts/base-responsive.html" %}
{% from 'includes/seo_macros.html' import seo_meta %}

{% block head_meta %}
  {{ seo_meta(
    title="Sentinel Event Viewer | Copernicus Dashboard by ESA",
    description="Browse Sentinel event logs including anomalies, calibrations, and manoeuvres. See how real-time mission events affect satellite data availability.",
    keywords=get_keywords('events'),
    image_url=request.host_url ~ 'static/assets/img/favicon.png',
    page_url=page_url
  ) }}
{% endblock %}

{% block body_class %}events-page{% endblock %}

{% block content %}

  <!-- Viewport definition -->
    <meta charset="utf-8"/>
  <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Define page content -->
  <div class="content" style="min-height: calc(100% - 130px);">
    <div class="page-inner">
      <h1 class="sr-only">Sentinel Mission Events Viewer | ESA Copernicus Dashboard</h1>
      <!-- Breadcrumb -->
      <div class="page-header">
        <h4 class="page-title">Events Viewer</h4>
        <ul class="breadcrumbs">
          <li class="nav-home">
                        <a href="/index.html">
                            <i class="flaticon-home"></i>
                        </a>
          </li>
          <li class="separator">
            <i class="flaticon-right-arrow"></i>
          </li>
          <li class="nav-item">
            <a href="#">Events</a>
          </li>
        </ul>
      </div>

      <!-- Collapsible description panel -->
      <div class="row">
        <div class="card-body" style="padding-bottom: 0.0rem !important">
          <div class="flex flex-column faq-section" style="margin-left: 21px; margin-right: 20px;">
            <div class="row">
              <div class="col-md-12">
                <div id="accordion">
                  <div class="card">
                    <div class="card-header" id="heading-description">
                      <h5 class="mb-0"><a role="button" data-toggle="collapse" href="#description" aria-expanded="false" aria-controls="description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Description</a></h5>
                    </div>
                                        <div id="description" class="collapse hide" data-parent="#accordion"
                                             aria-labelledby="heading-description">
                      <div class="card-body">
                                                This view shows the events occurred on a given date and the possible
                                                impact on user products completeness. Events are categorized according 
                                                to the following issue types:<br>
                                                - Acquisition: issue occurring during the reception of the data at the
                                                ground station<br>
                                                - Calibration: issue occurred during sensor calibration<br>
                                                - Manoeuvre: issue occurred during the execution of a manoeuvre<br>
                                                - Production: issue occurred during data processing<br>
                                                - Satellite: issue due to instrument unavailability<br>
                                                When an occurrence is clicked, the bottom panel shows a list of potentially 
                                                impacted datatakes, determined by their sensing times, along with further 
                                                details about the event.
                                                The impact on datatake completeness is represented by the right-side coloured 
                                                circle. The "green" colour indicates that the total completeness is spared; 
                                                "orange" is used in case of medium impact; the "red" colour is used when the 
                                                datatake is lost.<br>
                                                Events can be filtered by mission, event type, satellite name (e.g., 'Sentinel-1A'), 
                                                or by entering a category of interest in the search box.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Calendar container -->
      <div class="row align-items-stretch">
        <div id="calendarLoadingSpinner" style="display:none;">Loading...</div>
        <!-- Main timeline control -->
        <div class="col-12 calendar-window">
          <div class="card calendar-card" >
            <div class="card-body">
              <!-- The Calendar control -->
              <!-- <div id="myCalendar" class="calendar"></div> -->
                <div class="row  align-items-start">
                    <!-- Left Panel -->
                    <div class="col-12 col-lg-2 left-panel mb-4 mb-lg-0 matching-width">
                        <div class="filter-panel p-3">
                            <h3 class="mb-0">Events</h3>
                            <hr>
                            <div id="filtersContainer">
                              <div class="form-group mb-2">
                                <select id="missionSelect" class="form-control w-100">
                                  <option value="all" selected="true">All Missions</option>
                                  <option value="s1">Sentinel 1</option>
                                  <option value="s2">Sentinel 2</option>
                                  <option value="s3">Sentinel 3</option>
                                  <option value="s5">Sentinel 5P</option>
                                </select>
                              </div>
                              <div class="form-group mb-2">
                                <select id="eventTypeSelect" class="form-control w-100">
                                  <option value="all" selected>All Events</option>
                                  <option value="acquisition">Acquisition</option>
                                  <option value="calibration">Calibration</option>
                                  <option value="manoeuvre">Manoeuvre</option>
                                  <option value="production">Production</option>
                                  <option value="satellite">Satellite</option>
                              </select>
                              </div>
                              <div class="form-group mb-2">
                                <input type="text" class="form-control w-100" id="eventSearchInput"
                                placeholder="Search ..." />
                              </div>
                            </div>
                            <div class="form-group mb-2">
                              <button id="resetFilters" class="reset-button form-control">Reset</button>
                            </div>
                            <div class="event-legend mt-3">
                              <h4>Event Types</h4>
                              <div class="legend-item">
                                <i class="fas fa-broadcast-tower legend-icon event-acquisition"></i> Acquisition
                              </div>
                              <div class="legend-item">
                                <i class="fas fa-compass legend-icon event-calibration"></i> Calibration
                              </div>
                              <div class="legend-item">
                                <img src="/static/assets/img/joystick.svg" class="legend-icon event-manoeuvre image-icon" alt="Manoeuvre">
                                 Manoeuvre
                              </div>                                
                              <div class="legend-item">
                                <i class="fas fa-cog legend-icon event-production"></i> Production
                              </div>
                              <div class="legend-item">
                                <i class="fas fa-satellite-dish legend-icon event-satellite"></i> Satellite
                              </div>
                            </div>
                        </div>
                    </div>
                    <!-- Calendar Section -->
                    <div class="col-12 col-lg-8 mb-4 mb-lg-0">
                        <div class="calendar-container">
                            <div class="calendar-header d-flex justify-content-between align-items-center mb-3">
                               <!--  <button id="prevMonth" class="btn">&lt;</button> -->
                                <i id="prevMonth" class="fas fa-chevron-left fa-lg" role="button" tabindex="0" style="cursor: pointer;"></i>
                                <h1 id="monthYear" class="mb-0"></h1>
                                <!-- <button id="nextMonth" class="btn">&gt;</button>-->
                                <i id="nextMonth" class="fas fa-chevron-right fa-lg" role="button" tabindex="0" style="cursor: pointer;"></i>
                            </div>
                            <div class="calendar-grid" id="calendarGrid"></div>
                        </div>
                    </div>
                    
                    <div class="col-12 col-lg-2 mb-4 matching-width">
                      <!-- Completeness Status (Legend) -->
                      <div class="completeness-status mb-3">
                        <h5 class="comple-title mb-2">Completeness Status:</h5>
                        <div class="legend-grid">
                          <div class="legend-completeness d-flex align-items-center mb-1">
                            <i class="status-circle-dt-planned me-2"></i>
                            <span>Planned</span>
                          </div>
                      
                          <div class="legend-completeness d-flex align-items-center mb-1">
                            <i class="status-circle-dt-processing me-2"></i>
                            <span>Processing</span>
                          </div>
                      
                          <div class="legend-completeness d-flex align-items-center mb-1">
                            <i class="status-circle-dt-acquired me-2"></i>
                            <span>Acquired</span>
                          </div>
                      
                          <div class="legend-completeness d-flex align-items-center mb-1">
                            <i class="status-circle-dt-part me-2"></i>
                            <span>Partial</span>
                          </div>
                      
                          <div class="legend-completeness d-flex align-items-center mb-1">
                            <i class="status-circle-dt-unavailable me-2"></i>
                            <span>Unavailable</span>
                          </div>
                        </div>
                      </div>
                      <div id="eventDetails" class="event-details p-3">
                        <h5 id="eventDetailsTitle">Event Details</h5>
                        <p id="noEventMessage">Select a date to see event details.</p>
                        <div id="eventDetailsContent"></div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- Calendar plugin style -->
    <link rel="stylesheet" href="/static/assets/lib/calendar/css/calendarjs.min.css">
    <link rel="stylesheet" href="/static/assets/css/dashboard.css">
    <link rel="stylesheet" href="/static/assets/css/events.css">

  <!-- Calendar plugin scripts -->
  <script src="/static/assets/lib/calendar/src/calendarjs.min.js"></script>
  <script src="/static/assets/js/events/calendar.js"></script>
  <script defer type="text/javascript">
    calendar.init()
  </script>

  <!-- Timeline plugin style -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.8.2/vis.min.css" />
  <link rel="stylesheet" href="/static/assets/css/dashboard.css" />

  <!-- Timeline plugin scripts 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.8.2/vis.min.js"></script>
  <script src="/static/assets/js/events/timeline.js"></script>
  <script defer type="text/javascript">
    timeline.init()
  </script>-->

  <script>

    // Display selector
        $('#event-display-select').change(function() {
      if ($(this).val() === 'timeline') {
                document.getElementById('myCalendar').style.display = 'none';
                document.getElementById('myTimeline').style.display = 'block';
      }
      if ($(this).val() === 'calendar') {
                document.getElementById('myCalendar').style.display = 'block';
                document.getElementById('myTimeline').style.display = 'none';
      }
    })
    
    // Filter anomalies
        $('#anomalies_filter_search').on('input', function(event) {
            calendar.filterEvents($(this).val());
            timeline.filterEvents($(this).val());
        });

  </script>

{% endblock javascripts %}
