{% extends "layouts/base-responsive.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/assets/css/dashboard.css">
{% endblock stylesheets %}

{% block content %}


    <!-- Data section-->
    <div class="content page-inner">

        <!-- Video in background-->
        <div>
            <video preload="metadata" loop muted controls="none" id="home-video" class="video-frame">
                <source src="/static/assets/mv/home-access.mp4"></source>
            </video>
        </div>
    </div>
    <!-- Vertical Slider pages -->
    <div id="vertical-slider" class="slider-container bg-dark">
        <div class="container">
            <div class="left-slide">
                <div style="background-color: #354f32">
                    <h1>Acquisitions Status</h1>
                    <p>View displays the past, current and future Copernicus Sentinels' acquisition on an interactive,
                        3D globe. Through this view, users can either inspect the status of a past acquistion, or learn
                        about the planned acquisitions for the mission of interest. By default, the real-time sensing
                        scenario is displayed.</p><a href="/acquisitions-status.html" class="btn btn-lg rounded mt-3"
                        style="background-color: #ffc107; color: #212529; border: none;">Learn more</a>
                </div>
                <div style="background-color: #b99f8a">
                    <h1>Events</h1>
                    <p>Provides details of the events over the past three months that could impede data production,
                        such as planned calibration activities, manoeuvres, or anomalies. Information on the extent to
                        which these events affect data production and the data products impacted is provided.</p><a href="/events.html" class="btn btn-lg rounded mt-3"
                        style="background-color: #ffc107; color: #212529; border: none;">Learn more</a>
                </div>
                <div style="background-color: #657e85">
                    <h1>Data Availability</h1>
                    <p>Section of the dashboard hosts a real-time list of available collections delivered by the
                        missions, enabling users to scan through these products to find data that meet their research
                        and development requirements, and to assess their quality.</p> <a href="/data-takes.html" class="btn btn-lg rounded mt-3"
                        style="background-color: #ffc107; color: #212529; border: none;">Learn more</a>
                </div>
                <div style="background-color: #b99f8a">
                    <h1>Processors</h1>
                    <p>Shows the complete list of the releases of the Copernicus Sentinels processors, on an
                        interactive timeline.</p> <a href="/processors-viewer.html" class="btn btn-lg rounded mt-3"
                        style="background-color: #ffc107; color: #212529; border: none;">Learn more</a>
                </div>
                <div style="background-color: #657e85">
                    <h1>About</h1>
                    <p>Copernicus is the EU's Earth observation programme, providing open Sentinel satellite data.
                        Managed by ESA, it supports research through the Operations Dashboard, offering real-time
                        insights and key data stats.</p><a href="/about.html" class="btn btn-lg rounded mt-3"
                        style="background-color: #ffc107; color: #212529; border: none;">Learn more</a>
                </div>
            </div>
            <div class="right-slide">
                <div style="background-image: url('/static/assets/img/events.png');">
                </div>
                <div style="background-image: url('/static/assets/img/processors.png');">
                </div>
                <div style="background-image: url('/static/assets/img/data_availability.png');">
                </div>
                <div style="background-image: url('/static/assets/img/events.png');">
                </div>
                <div style="background-image: url('/static/assets/img/acquisitions_status.png');">
                </div>
            </div>
            <div class="action-buttons">
                <button class="down-button">
                    <i class="fas fa-arrow-down"></i>
                </button>
                <button class="up-button">
                    <i class="fas fa-arrow-up"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Info boxes  -->
    <footer class="container-fluid" style="background-color: #343a40;">

    </footer>

    <!-- Latest anomalies -->
    <h4 class="card-title col-9" style="position: absolute; top: 13%; left: 77%">Real-time events</h4>
    <div class="row col-9" style="position: absolute; top: 18%; left: 78%">
        <ol class="activity-feed" id="real-time-event-list">
        </ol>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Specific page style -->
    <link rel="stylesheet" href="/static/assets/css/dashboard.css">

    <!-- Specific plugin scripts -->
	<script src="/static/assets/js/datatakes/datatakes.js"></script>
	<script src="/static/assets/js/statistics/publication-statistics.js"></script>
    <script src="/static/assets/js/index/index.js"></script>
	<script defer type="text/javascript">home.init();</script>

{% endblock javascripts %}
