{% extends "layouts/base-responsive.html" %}

{% block title %} Terms &amp; Conditions {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link rel="stylesheet" href="/static/assets/css/dashboard.css">
	<link rel="stylesheet" href="/static/assets/css/terms-cookies.css">
{% endblock stylesheets %}

{% block content %}

    <!-- Viewport definition -->
    <meta charset="utf-8"/>
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Define page content -->
    <div class="content" style="min-height: calc(100% - 130px);">
        <div class="page-inner">

            <!-- Breadcrumb -->
            <div class="page-header">
                <h4 class="page-title">Terms &amp; Conditions</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="/index.html">
                            <i class="flaticon-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="flaticon-right-arrow"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>

            <!-- Main container -->
            <div class="row back-container-terms">
				<!-- Main timeline control -->
                <div class="col-12">
					<div class="card">
						<div class="card-body">
                            <div class="section-container">
                                <!-- Row hosting the general controls -->
                                <div class="wide-container card-text" id="about_text">
                                    <h2>Terms and Conditions</h2>
                                    <p>
                                        The objectives of the Sentinel Online technical website are to allow users to find all the information they need regarding the Copernicus Sentinel 
                                        programme, the individual Sentinel missions, their operational focus and the thematic areas they support. Particular care is given to explanations 
                                        of the instruments, the performance of data products including scientific applications, Ground Segment processing, and guidance on accessing Sentinel data. 
                                    </p>
                                    <p>
                                        In addition, the website presents news and technical documentation related to the Sentinel missions.
                                    </p>
                                    <h2>Disclaimer</h2>
                                    <p>
                                        Access to, and use of, ESA's Sentinel Online website constitutes acceptance of the following general terms and conditions.
                                    </p>
                                    <p>
                                        Neither ESA nor any other party involved in creating, producing or delivering the website shall be liable for any direct, incidental, 
                                        consequential, indirect or punitive damages arising out of Users' access to, or use of, the website. ESA's Sentinel Online website does 
                                        not guarantee the accuracy of information provided by external sources and accepts no responsibility or liability for any consequences 
                                        arising from the use of such data.
                                    </p>                                    
                                    <p>
                                        Though ESA uses the best technical standards to control its site, material on this website may inadvertently include technical 
                                        inaccuracies or other errors. We should be grateful if users could notify us of any errors or inaccuracies they may find. Please note 
                                        that users browse and use the website at their own risk. ESA does not warrant that the functional aspects of the website will be 
                                        uninterrupted or error free or that this website, or the server that makes it available, are free or viruses or other harmful components. 
                                        ESA may change material on the site without prior notice.
                                    </p>
                                    <h2>
                                        Access and availability of service and links
                                    </h2>
                                    <p>
                                        ESA's Sentinel Online site may contain links and references to third-party websites. These are provided for the convenience and interest 
                                        of users and on the part of ESA this implies neither responsibility for, nor approval of, information contained in these websites. ESA makes 
                                        no warranty, either express or implied, as to the accuracy, availability or content of information, text, graphics which are not under the 
                                        'esa.int' domain. ESA has not tested any software located on other sites and does not make any representation as to the quality, safety, 
                                        reliability or suitability of such software.
                                    </p>
                                    <h2>Use of IP address</h2>
                                    <p>
                                        The IP address is a number that is automatically given to your computer when you are surfing on the internet. Servers and 'big computers' 
                                        that host web pages, automatically identify your computer through its IP number. ESA's Earth Online website does not use IP addresses to 
                                        carry out statistical analysis of visitors.
                                    </p>
                                    <h2>Use of IP cookies</h2>
                                    <p>
                                        Cookies are pieces of information that a website transfers to an individual hard drive for record-keeping purposes; passwords are not saved 
                                        in cookies. Cookies help ESA to know which pages are visited most often and helps ESA to ensure that its website responds to users' needs.
                                    </p>
                                    <p>
                                        If you do not wish to receive a cookie, or if you wish your browser to notify you when you receive a cookie, you may use the option on your 
                                        web browser to disable cookies. Click on the 'help' section of your browser to learn how to change cookie preferences. However, please note 
                                        that if you disable all cookies you may not be able to take advantage of all the features available on this website.
                                    </p>
                                    <p>
                                        ESA is committed to user privacy. It does not use personal identification details transferred through cookies either for promotion or 
                                        marketing purposes.
                                    </p>
                                    <p>
                                        For further information regarding the use of cookies on our website, please refer to our 
                                        <a style="color:#66B2FF" target="_blank" href="cookie-notice.html">Cookie Notice.</a>
                                    </p>
                                    <h2>Copyrights</h2>
                                    <p>
                                        The contents of ESA's Sentinel Online website are intended for non-commercial use. ESA grants permission to users to visit the site, 
                                        and to download and copy information, images, documents and materials from the website for non-commercial use. ESA does not grant the right 
                                        to resell or redistribute any information, documents, images or material from its website or to compile or create derivative works from 
                                        material on its website. Use of material on the website is subject to the terms and conditions outlined below.
                                    </p>
                                    <p>
                                        All material published on the ESA Sentinel Online website is protected by copyright and owned or controlled by ESA or the party credited as 
                                        the provider of the content, software or other material.
                                    </p>
                                    <p>
                                        Copyright in the material must be recognised by an appropriate on-screen credit in a form such as "European Space Agency - ESA". If a remote 
                                        sensing product is being used, the credit "produced from ESA remote sensing data" must be added, plus, if applicable, "image processed by 
                                        (name of the institution as indicated on the Internet Server)".
                                    </p>
                                    <p>
                                        Users may not modify, publish, transmit, participate in the transfer or sale of, reproduce, create derivative works from, distribute, perform,
                                        display or in any way exploit any of the content, software, material or services, in whole or in part, without obtaining prior written authorisation. 
                                    </p>
                                    <h4>Use of ESA logo</h4>
                                    <p>
                                        The ESA logo is owned by ESA and protected by trademarks and under Article 6 of the Paris Convention for the Protection of Industrial Property. 
                                        You may not modify or create derivatives of the ESA logo. Any use, reproduction, publication, display, transmission, making available to the 
                                        public or exploitation of the ESA logo requires prior written authorisation. For authorisation, please contact:  <a style="color:#66B2FF" href="mailto:corporatebranding@esa.int">corporatebranding@esa.int</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script>
        // Hide the time period selector combobox
        $('#time-period-select-container').hide();
        $('#esa-logo-header').hide();
        
    </script>
{% endblock javascripts %}
