{% extends "layouts/base-responsive.html" %}
{% block title %}Admin: Homepage Message{% endblock %}


{% block content %}
<div class="container" style="margin-top: 80px; margin-bottom: 80px; padding-top: 40px; padding-bottom: 40px;">
    <!-- Breadcrumb -->
        <div class="page-header">
            <h4 class="page-title">News</h4>
            <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="/index_2.html">
                <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">New Message</a>
            </li>
            </ul>
        </div>
    <form method="POST" action="{{ url_for('home_blueprint.admin_home_message') }}">
        <input type="hidden" name="next" value="{{ request.args.get('next', '') }}">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, msg in messages %}
                <div class="alert alert-{{ category }}">{{ msg }}</div>
            {% endfor %}
        {% endwith %}

        <div class="mb-3">
            <label>
              <input type="checkbox" name="active" checked>
              Message is active
            </label>
        </div>

        <div class="mb-3">
            <label for="type" class="form-label">Message type</label>
            <select class="form-control" id="type" name="type">
                <option value="info" {% if message.type == 'info' %}selected{% endif %}>Info (Blue)</option>
                <option value="warning" {% if message.type == 'warning' %}selected{% endif %}>Warning (Yellow)</option>
                <option value="danger" {% if message.type == 'danger' %}selected{% endif %}>Danger (Red)</option>
                <option value="success" {% if message.type == 'success' %}selected{% endif %}>Success (Green)</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="text" class="form-label">Message text</label>
            <textarea class="form-control" id="text" name="text" rows="3">{{ message.text }}</textarea>
        </div>

        <div class="mb-3">
            <label for="link" class="form-label">Optional link</label>
            <input type="url" class="form-control" id="link" name="link" value="{{ message.link }}">
        </div>

        <button type="submit" class="btn btn-primary">Save Message</button>
    </form>
</div>
{% endblock %}
